.timeSlots__item{
  background: #e1f5f8;
  border-radius: 3px;
  margin-bottom: 5px;
  line-height: 40px;
  cursor: pointer;
  border: 2px solid #e1f5f8;
}

.deactive{
  background: #f8e1e1;
  border-color: #f8e1e1;
  cursor: default;
}

.reserved {
  border: 2px solid #fde1aa;
  background: #fff;
  font-weight: 600;
}